<header>Add new label</header>
<form class="label-form" [formGroup]="labelFormGroup" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
  <div class="form-content">
    <mat-form-field hideRequiredMarker>
      <mat-label>Receiver</mat-label>
      <input matInput
             [formControlName]="'receiver'"
             autocomplete="off">
      <mat-error *ngIf="labelFormGroup.get('receiver').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>PO Box id</mat-label>
      <input matInput
             [formControlName]="'POBoxId'"
             autocomplete="off">
      <mat-error *ngIf="labelFormGroup.get('POBoxId').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Size</mat-label>
      <input matInput
             [formControlName]="'size'"
             autocomplete="off">
      <mat-error *ngIf="labelFormGroup.get('size').hasError('required')">Required</mat-error>
    </mat-form-field>
    <div class="form-button">
      <button type="submit" mat-mini-fab color="primary" [disabled]="labelFormGroup.invalid">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</form>
<div class="label-list">
  <div class="legend">
    <div class="label-id">ID</div>
    <div class="receiver">Receiver</div>
    <div class="po-box-id">PO Box ID</div>
    <div class="size">Size</div>
    <div class="sent">Sent</div>
    <div class="action">Delete</div>
  </div>
  <div class="list-content">
    <div class="label-details" *ngFor="let label of labels; let last = last">
      <div class="label-id">{{label.labelId}}</div>
      <div class="receiver">{{label.receiver}}</div>
      <div class="po-box-id">{{label.POBoxId}}</div>
      <div class="size">{{label.size}}</div>
      <div class="sent">{{label.sent === 'False' ? 'No' : 'Yes'}}</div>
      <div class="action">
        <div *ngIf="label.sent === 'False'">
          <mat-icon class="click" (click)="deleteLabel(label.labelId)">clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
