header {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
  margin-bottom: 30px;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sex-radio-group {
  padding: 12px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .mat-radio-button {
    font-weight: 100;

    span {
      font-weight: 550;
      font-size: 16px;
    }
  }
}

.mat-form-field {
  padding: 12px;
  width: 400px;
}

.invalid {
  color: #ef4234;
}

.file-input {
  padding: 12px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .hidden-file-input {
    display: none;
  }

  .choose-file {
    width: 300px;
    padding-left: 10px;
    font-weight: 550;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #file-button {
    width: 100px;
  }
}

.button-register {
  padding: 12px;
}

.response{
  padding: 12px;
  border: 1px solid black;
  background: #F8F8F8;
}
