<header>Create Your Account</header>
<form class="register" [formGroup]="registerFormGroup">
  <mat-form-field hideRequiredMarker>
    <mat-label>Firstname</mat-label>
    <input matInput
           [formControlName]="'firstname'"
           autocomplete="off"
           required>
    <mat-error *ngIf="registerFormGroup.controls['firstname'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['firstname'].hasError('pattern')">
      Invalid data
    </mat-error>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Lastname</mat-label>
    <input matInput
           [formControlName]="'lastname'"
           autocomplete="off"
           required>
    <mat-error *ngIf="registerFormGroup.controls['lastname'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['lastname'].hasError('pattern')">
      Invalid data
    </mat-error>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Sex</mat-label>
    <mat-select [formControlName]="'sex'">
      <mat-option *ngFor="let sex of sexes" [value]="sex.value">
        {{sex.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="registerFormGroup.controls['sex'].hasError('required')">
      Required
    </mat-error>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Login</mat-label>
    <input matInput
           [formControlName]="'login'"
           autocomplete="off"
           required>
    <mat-error *ngIf="registerFormGroup.controls['login'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['login'].hasError('pattern')">
      Only lowercase, 3-12 characters
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['login'].hasError('taken')">
      Login taken
    </mat-error>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Password</mat-label>
    <input matInput
           [formControlName]="'password'"
           autocomplete="off"
           required
           type="password">
    <mat-error *ngIf="registerFormGroup.controls['password'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['password'].hasError('pattern')">
      At least 8 characters
    </mat-error>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Confirm Password</mat-label>
    <input matInput
           [formControlName]="'passwordConfirm'"
           autocomplete="off"
           required
           type="password">
    <mat-error *ngIf="registerFormGroup.controls['passwordConfirm'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['passwordConfirm'].hasError('pattern')">
      At least 8 characters
    </mat-error>
    <mat-error *ngIf="registerFormGroup.controls['passwordConfirm'].hasError('confirm')">
      Passwords didn't match
    </mat-error>
  </mat-form-field>
  <div class="file-input">
    <input hidden
           class="hidden-file-input"
           type="file"
           [formControlName]="'photo'"
           accept=".jpg,.png"
           #file
           (change)="onFileAdded($event)">
    <button id="file-button" mat-raised-button type="submit" (click)="file.click()">Add photo</button>
    <span class="choose-file">
      <span [ngClass]="{'invalid' : photoInputInvalid}">{{photoLabel}}</span>
    </span>
  </div>
  <div class="button-register">
    <button mat-raised-button color="primary" (click)="onRegister()">Register</button>
  </div>
  <div *ngIf="response !== ''" class="response">
    {{response}}
  </div>
</form>
