<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <span><img src="assets/favicon.png" class="logo" alt=""></span>
        Black Box Delivery
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/']">Home</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/sender/sign-up']">Sign-up</a></li>
    </ul>
  </div>
</nav>
<section class="page-content">
  <router-outlet></router-outlet>
</section>
<footer> Hello</footer>
