.navbar {
  height: 60px;
  margin-bottom: 0;
  border: 0;
}

.navbar-default{
  margin-bottom: 0;
  border: 0;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}

.navbar-toggle {
  margin-top: 17px;
  padding: 9px 10px !important;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}

.page-content {
  padding: 20px;
  min-height: calc(100vh - 100px);
}

footer {
  height: 40px;
  width: 100%;
}

